<%= form_for [post, post.comments.new], remote: true do |f| %>

  <%= form_group_tag(post.errors[:body]) do %>
    <%= f.label :comment %>
    <%= f.text_area :body, rose: 8, class: 'form-control', placeholder: "Enter Comment" %>
  <% end %>

  <div class="form-group">
    <%= f.button "Add New Comment", class: 'btn btn-success', method: :post, remote: true %>
  </div>
<% end %>