<div class="row">
  <div class="col-md-8">
  <%= render partial: 'votes/voter', locals: { post: @post } %>
    <h1><%= @post.markdown_title %></h1>
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %></p>
    </small>
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %></p>
    <% end %>

    <% if policy(@post).destroy? %>
      <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
    <% end %>

    <p><%= markdown @post.body %></p>
    <p><%= image_tag(@post.postimage.small.url) %></p>
    
    <%= render partial: 'favorites/favorite', locals: { post: @post } %>

    <% if current_user %>
      <%= render partial: "comments/form", locals: { topic: @topic, post: @post, comment: @comment } %>
    <% end %>

    <%= render partial: "comments/comment", locals: { topic: @topic, post: @post, comment: @comment } %>

  </div>
</div>
